.navbar{
  background-color: rgba(75, 144, 255, 0.767);
}

.dashboard{
  background: rgba(211, 228, 255, 0.767)
}


.explorebtn{
  width: 150px;
  height: 6vh;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
   margin-top: 40px;
  background-color: #ed0851;
}

.explorebutton{
  background: #000;
}